body {
    color: yellow;
}
input {
    margin-bottom: 8px;
    margin-right: 8px;
}
h2 {
    color: red;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
label {
    color: rgb(0, 0, 255);
}
p.g {
    color: green;
}
p.or {
    color: orangered;
}
img {
    height: 225px;
    margin: 5px;
}
video {
    height: 225px;
    margin: 5px;
}
.content {
    display: flex;
}

